<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link id="home_css" rel="stylesheet" href="@@BASE@@/css/home.css?v=@@BUILD@@" />
    </head>
    <body>
        <div class="container">
            <h1>
                <img id="logo" src="@@BASE@@/images/icon-logo.svg" class="logo"
                     onerror="this.style.display='none'" />
                Union.ai
            </h1>

            <p>
                Go to the <a href="@@BASE@@/@@DEFAULT_VARIANT@@/">Union.ai documentation</a>.
            </p>
        </div>
    </body>
</html>

