{{ if page.Params.mermaid }}
    <pre class="mermaid">
        {{ .Inner | htmlEscape | safeHTML }}
    </pre>
{{ else }}
    {{ errorf "Mermaid code block used but page lacks 'mermaid: true' in frontmatter: %s" .Page.File.Path }}
    <div class="layout-error">
        <div class="error">
          You specified a Mermaid code block, but you did not mark the page as Mermaid-enabled. Please set <code>mermaid: true</code> at the top of the page.
        </div>

        <div class="content">
          <pre>```mermaid
{{ .Inner | htmlEscape | safeHTML }}
```</pre>
        </div>
    </div>
{{ end }}
