{{ $map := page.Scratch.Get "resource_permalinks" }}
{{ $destination := .Destination }}
{{- $uniqueID := printf "image-%s-%d" (sha1 .Destination) .Ordinal -}}

{{/* Check if we need to remap the destination path */}}
{{ if $map }}
  {{ range $key, $value := $map }}
    {{ if eq $destination $key }}
      {{ $destination = $value }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $destination = partial "rel-link.html" $destination }}

<img src="{{ $destination | safeURL }}"
    {{- with .PlainText }} alt="{{ . }}"{{ end -}}
    {{- with .Title }} title="{{ . }}"{{ end -}}
/>
