body > .tabs .tabs-nav {
  height: var(--tabs-height);
  background-color: var(--bg-color);
  /* border-bottom: 1px solid var(--border-color); */
  padding: 0 1.5rem;
}

.tabs-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: calc(var(--content-width) * 1.5);
}

.tab {
  height: 100%;
  padding: 0 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  transition: color 0.2s;
}

.tab:hover {
  color: unset;
}

.tab .text {
  padding: 0.25rem 0.5rem;
}

.tab .text:hover {
  color: var(--union-color);
  background-color: var(--union-color-very-light);
  border-radius: 6px;
  transition: color 0.2s, background-color 0.2s;
}

.tab.active {
  color: var(--union-color-dark);
}

.variant-flyte .tab.active {
  color: var(--flyte-color-dark);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--union-color-dark);
}

.tab.disabled {
  color: red;
}
.tab.disabled::after {
  background-color: red;
}
