{{ define "main" }}
<article class="plugin">
    <div class="content">
        <h1>{{ .Params.title }}</h1>

        {{ block "specs" . }}{{ end }}
        
        {{ .Content }}
    </div>

    {{ partial "footer-nav.html" .}}
</article>
{{ end }}

{{ define "specs" }}
{{ $md := .Params.metadata }}
{{ $source := printf "https://github.com/flyteorg/flytekit/tree/master/plugins/%s" $md.folder }}
<sl-details summary="Technical Specification" open>
    <table>
        <tbody>
            <tr><td>Name:</td><td>{{ $md.name }}</td></tr>
            <tr><td>Version:</td><td>{{ $md.version }}</td></tr>
            <tr><td>Author:</td><td>{{ $md.author_email }}</td></tr>
            <tr>
                <td>Provides:</td>
                <td>
                    {{ range $md.packages }}
                        {{ . }}<br/>
                    {{ end }}
                </td>
            </tr>
            {{ if $md.install_requires }}
            <tr>
                <td>Requires:</td>
                <td>
                    {{ range $md.install_requires }}
                        {{ . }}<br/>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
            <tr><td>Python:</td><td>{{ $md.python_requires }}</td></tr>
            <tr><td>License:</td><td>{{ $md.license }}</td></tr>
            <tr>
                <td>Source Code:</td>
                <td class="source"><a href="{{ $source }}">{{ $source }}</a></td>
            </tr>
        </tbody>
    </table>
    <sl-details summary="Classifiers">
        <ul>
            {{ range $md.classifiers }}
                <li>{{ . }}</li>
            {{ end }}
        </ul> 
    </sl-details>
</sl-details>
{{ end }}