<div class="flyte-banner">
    <a href="https://www.union.ai/try-flyte-2" target="_blank" class="flyte-banner-link" style="will-change: width, height; height: 3rem;" >
        <div>
            Preview Flyte 2 for production, hosted on Union.ai
        </div>
        <div class="flyte-banner-button">
            <div>
                Register now
                <span class="new-tab-arrow text-weight-semibold">
                    ↗
                </span>
            </div>
        </div>
    </a>
</div>
