<div class="flyte-banner">
    <a href="{{- index site.Params.signup_link site.Params.variant -}}" class="flyte-banner-link" target="_blank" rel="noopener noreferrer" style="will-change: width, height; height: 3rem;" >
        <div>
            {{- if eq .Site.Params.variant "flyte" }}
            Try Flyte on Union.ai free for 30 days
            {{- else }}
            Try Union.ai free for 30 days
            {{- end }}
        </div>
        <div class="flyte-banner-button">
            <div>
                Get started
            </div>
        </div>
    </a>
</div>
