<div class="flyte-banner">
    <a href="https://www.union.ai/beta" target="_blank" class="flyte-banner-link" style="will-change: width, height; height: 3rem;" >
        <div>
            <strong>
                Flyte + Union 2.0:
            </strong>
            Now accepting interest in our invite-only beta
        </div>
        <div class="flyte-banner-button">
            <div>
                Register now
                <span class="new-tab-arrow text-weight-semibold">
                    ↗
                </span>
            </div>
        </div>
    </a>
</div>
