{{/* Returns approximate token count (in K) for a section and all its descendant pages. */}}
{{- $contentLen := len .RawContent -}}
{{- range .Pages -}}
  {{- $contentLen = add $contentLen (len .RawContent) -}}
  {{- range .Pages -}}
    {{- $contentLen = add $contentLen (len .RawContent) -}}
    {{- range .Pages -}}
      {{- $contentLen = add $contentLen (len .RawContent) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $tokensK := div $contentLen 4000 -}}
{{- if lt $tokensK 1 -}}{{- $tokensK = 1 -}}{{- end -}}
{{- return $tokensK -}}
