{{/* copy resources for example */}}
{{- $exampleFile := replaceRE "\\.md$" "" .page.File.Path -}}
{{- $targetDir := path.Join "_static" "_examples" $exampleFile -}}

{{ range $ref, $source := .bom }}
    {{- $originalImage := readFile $source -}}
    {{- if $originalImage -}}
        {{- $fileName := path.Base $source -}}
        {{- $imageTargetPath := printf "%s/%s" $targetDir $fileName -}}
        {{- $res := resources.FromString $imageTargetPath $originalImage -}}
        {{- if $res -}}
            {{- $.page.Scratch.SetInMap "resource_permalinks" $ref $res.Permalink -}}
            {{- $res.Publish -}}
        {{- else -}}
            {{- errorf "Could not load resource %s @ %s (in %s)." $ref $source $.page.Path -}}
            <div style="border: 2px dashed red; color: red; padding: 0.5rem 1rem; margin-bottom: 1rem;">
                Could not load resource
                <span style='white-space: nowrap'>{{ $ref }}</span>:
                <span style='white-space: nowrap'>{{ $source }}</span>
            </div>
        {{- end -}}
    {{- else -}}
        {{- errorf "Could not find resource %s @ %s (in %s)." $ref $source $.page.Path -}}
        <div style="border: 2px dashed red; color: red; padding: 0.5rem 1rem; margin-bottom: 1rem;">
            Could not find resource
                <span style='white-space: nowrap'>{{ $ref }}</span>:
                <span style='white-space: nowrap'>{{ $source }}</span>
        </div>
    {{- end -}}
{{ end }}