{{- $emoji := transform.Emojify ":arrow_forward:" -}}
<div style="margin-bottom: 1rem;">
  <sl-details summary="{{ $emoji }} Run in Union">
    {{- $text := partial "run-on-union.md" -}}
    {{- if .Params.run_command -}}
        {{- $text = replace $text "@@run_command@@" .Params.run_command -}}
    {{- else -}}
        {{- $text = replace $text  "@@run_command@@" "union run --remote <path/to/file.py> <workflow_name> <params>" -}}
    {{- end -}}
    {{- if .Params.source_location -}}
        {{- $text = replace $text "@@source_location@@" .Params.source_location -}}
    {{- else -}}
        {{- $source_location := replace .Params.example_file "/external/unionai-examples/" "https://www.github.com/unionai/unionai-examples/tree/main/" -}}
        {{- $text = replace $text "@@source_location@@" $source_location -}}
    {{- end -}}
    {{ page.RenderString $text }}
  </sl-details>
</div>
