{{- if not .Site.Params.show_deprecation_message -}}
{{- $isFlyte := eq .Site.Params.variant "flyte" -}}
{{- $themeColor := cond $isFlyte "#6f2aef" "#e6a720" -}}
{{- $brandLogo := cond $isFlyte "images/ask-ai-flyte.svg" "images/ask-ai-union.svg" -}}
<script
  type="module"
  id="runllm-widget-script"
  src="https://widget.runllm.com"
  crossorigin="true"
  version="stable"
  runllm-name="{{ cond $isFlyte "Flyte" "Union" }}"
  runllm-position="BOTTOM_RIGHT"
  runllm-assistant-id="60"
  runllm-brand-logo="{{ $brandLogo | absURL }}"
  runllm-theme-color="{{ $themeColor }}"
  runllm-hide-trigger-button="true"
  async
></script>
<script>
document.getElementById('runllm-trigger').addEventListener('click', function() {
  if (window.runllm) window.runllm.open();
});
</script>
{{- end -}}
