{{- $app := site.Params.search.app_id -}}
{{- $key := site.Params.search.search_key -}}
{{- $idx := site.Params.search.index_name -}}

<link rel="preconnect" href="https://{{ $app }}-dsn.algolia.net" crossorigin />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

<div id="docsearch"></div>

<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>
    const pathParts = window.location.pathname.split('/').filter(Boolean);

    // Expected: ['docs', 'v2', 'byoc', ...]
    let version = null;
    let variant = null;

    if (pathParts.length >= 3 && pathParts[0] === 'docs') {
        version = pathParts[1];
        variant = pathParts[2];
        console.log(`Search version ${version}, variant ${variant}`)
    }

    docsearch({
        container: '#docsearch',
        appId: '{{ $app }}',
        indexName: '{{ $idx }}',
        apiKey: '{{ $key }}',
        searchParameters: {
        facetFilters: [
            version ? `version:${version}` : '',
            variant ? `variant:${variant}` : ''
        ].filter(Boolean) // remove empty strings
        },
        debug: true
    });
</script>