{{- $currentPage := .page -}}
<nav class="tabs-nav">
    <div class="tabs-container">
        {{- range .page.Site.Sections.ByWeight -}}
            {{- $access := partial "page-allowed.html" . -}}
            {{- if and $access.allowed .Params.top_menu -}}
                {{- $classes := slice "tab" -}}
                {{- if eq $currentPage.Section .Section -}}
                    {{- $classes = $classes | append "active" -}}
                {{- end -}}
                {{- if $access.development -}}
                    {{- $classes = $classes | append "disabled" -}}
                {{- end -}}
                <a href="{{- .RelPermalink -}}" class='{{- delimit $classes " " -}}'>
                    <div class="text">
                    {{- .Title -}}
                    </div>
                </a>
            {{- end -}}
        {{- end -}}
    </div>
</nav>
