{{- /* {{< multiline >}}
     markdown line 1
     markdown line 2
     ...
     {{< /multiline >}} */ -}}

{{- $brs := .Get "brs" | default "true"}}
{{- $content := .Inner -}}
{{- $lines := split $content "\n" -}}

<div class="multiline">
  {{- range $index, $line := $lines -}}
    {{- if and (ne $line "") (ne $line " ") -}}
      {{- page.RenderString $line -}}
      {{- if $brs -}}
      {{- if ne $index (sub (len $lines) 1) -}}<br/>{{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
</div>