{{- if .Parent -}}
	{{- $name := trim (.Get 0) " " -}}
	{{- if not (.Parent.Scratch.Get "tabs") -}}
	    {{- .Parent.Scratch.Set "tabs" slice -}}
	{{- end -}}
	{{- with .Inner -}}
        {{- $.Parent.Scratch.Add "tabs" (dict "name" $name "content" (. | safeHTML) ) -}}
	{{- end -}}
{{- else -}}
	{{ warnf "[tab is orphan] You specified {{< tab >}} inside {{< tabs >}}. File: %s" .Page.File.Path }}
	<div class="layout-error">
		<div class="error">
			You specified a <code>&#123;&#123;&lt; tab &gt;&#125;&#125;</code> outside <code>&#123;&#123;&lt; tabs &gt;&#125;&#125;</code>.
		</div>

		<div class="content">
			{{- .Inner | safeHTML -}}
		</div>
	</div>
{{- end -}}
